.pic-trip-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    img {
        width: 100%;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        font-weight: 300;
        font-size: 16px;
    }
    button {
        background-color: transparent;
        box-sizing: border-box;
        padding: 5px 10px;
        border: none;
        box-shadow: lightgray 3px 3px 7px;
        margin-right: 20px;
        outline: none;
        font-size: 14px;
        font-weight: 500;
        &:active {
            transform: translate(1px, 1px);
            box-shadow: lightgray 0 0 5px;
        }
    }
}

.liked {
    background-color: rgba(#fbf9ba, 0.4);
    color: darkgreen;
    button {
        box-shadow: lightgray 3px 3px 7px;
        color: darkgreen;
        &:active {
            box-shadow: lightgray 0 0 5px;
        }
    }
}

.pic-date {
    font-size: 12px !important;
    color: #6c757d;
}

.like-btn {
    background-color: #fbf9ba;
    color: black;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.like-btn:hover {
    background-color: #fbf9ba !important;
    cursor: pointer;
}